form {
    margin: 2rem auto;
    font-size: 1rem;
    line-height: 1.5rem;
}
label {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    display: block;
}
input, select, textarea {
    width: 100%;
    background: transparent;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 2px solid var(--black);
    display: block;
    margin: 1rem 0.25rem;
}

.submit {
    display: block;
    width: auto;
    margin: 2rem 0 2rem auto;
}