html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	max-width: 100%;
	box-sizing: border-box;
}
/* Typography */
html {
	font-size: 100%;
}
/*16px*/
body {
	background: rgba(255, 255, 255, 0.7);
	font-family: "Droid Sans", sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #222;
}
p {
	margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1200px) {
	p {
		font-size: 1.3vw;
	}
}
@media only screen and (min-width: 1900px) {
	p {
		font-size: 1.3vw;
	}
}
h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: "Droid Sans", sans-serif;
	font-weight: 400;
	line-height: 1.3;
}
h1 {
	margin-top: 0;
	font-size: 3.052rem;
}
@media only screen and (min-width: 1900px) {
	h1 {
		font-size: 7vw;
	}
}
h2 {
	font-size: 2.441rem;
}
@media only screen and (min-width: 1900px) {
	h2 {
		font-size: 5vw;
	}
}
h3 {
	font-size: 1.953rem;
}
@media only screen and (min-width: 1900px) {
	h3 {
		font-size: 3vw;
	}
}
h4 {
	font-size: 1.563rem;
}
h5 {
	font-size: 1.25rem;
}
small,
.text_small {
	font-size: 0.8rem;
}
img {
	display: block;
	line-height: 0;
	max-width: 100%;
}
.wrapper {
	margin: 0 auto;
	width: 2000px;
	max-width: 100%;
}
.image-hero {
	padding: 0 1em;
	width: 1000px;
}
@media (min-width: 780px) {
	.image-hero {
		padding-bottom: 2em;
		display: flex;
		position: relative;
	}
}
@media (min-width: 1050px) {
	.image-hero {
		margin: 0 auto;
		display: flex;
		position: relative;
	}
}
.image-hero > div {
	position: relative;
}
@media (min-width: 780px) {
	.image-hero > div {
		flex: 0 1 auto;
	}
}
.image-hero .image-wrap {
	margin: 2em 0 0 0;
	display: flex;
	justify-content: center;
}
@media (min-width: 780px) {
	.image-hero .image-wrap {
		flex: 0 1 150px;
		height: auto;
		width: 100%;
	}
}
.image-hero .image-wrap .image-crop {
	border-radius: 50%;
	overflow: hidden;
	width: 20vw;
	height: 20vw;
	min-width: 120px;
	min-height: 120px;
	max-width: 150px;
	max-height: 150px;
}
.image-hero .text {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	text-align: center;
	max-width: 100%;
}
@media (min-width: 780px) {
	.image-hero .text {
		text-align: left;
		margin: 0 0 0 2.5em;
	}
}
.image-hero .text h3 {
	margin-top: 2rem;
	margin-left: -1rem;
}
@media (min-width: 500px) {
	.image-hero .text p {
		font-size: 1.2em;
	}
}
.image-hero nav {
	text-align: center;
}
.image-hero nav ul {
	justify-content: space-around;
}
@media (min-width: 780px) {
	.image-hero nav ul {
		justify-content: flex-start;
	}
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: system-ui, sans-serif;
	/* this breaks position sticky in Firefox */
	/* overflow-x: hidden;
	 */
}
nav {
	white-space: nowrap;
	width: 100%;
	z-index: 1;
}
nav ul {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
}
a {
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	line-height: 2.5em;
	padding: 0 2rem;
	color: #222;
	text-decoration: none;
	transition: all 0.5s;
}
a:before,
a:after {
	transition: all 0.5s;
}
/* SHIFT */
a {
	position: relative;
	z-index: 1;
}
a:after {
	display: block;
	position: absolute;
	top: auto;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1px;
	height: 3px;
	content: ".";
	color: transparent;
	background: #222;
	visibility: none;
	opacity: 0;
	z-index: -1;
	overflow-y: hidden;
	max-height: 500px;
	/* approximate max height */
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
a:hover:after {
	opacity: 1;
	visibility: visible;
	width: 100%;
}

.project {
	padding: 2em 0;
	width: 1000px;
	padding: 1em;
	border-bottom: 1px solid gray;
	background-color: #fff;
}
@media only screen and (min-width: 780px) {
	.project {
		border: none;
	}
}
.project.cols-2 {
	margin-bottom: 1em;
}
@media only screen and (min-width: 780px) {
	.project.cols-2 {
		margin-bottom: 3em;
		flex-wrap: nowrap;
		display: flex;
		justify-content: center;
	}
}
.project.cols-2 .text {
	flex: 0 1 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 1em;
}
.project.cols-2 .text h3 {
	text-align: center;
	margin-top: 0;
}
@media (min-width: 780px) {
	.project.cols-2 .text h3 {
		text-align: left;
	}
}
.project.center .grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project.center .grid > div {
	flex: 1 1 25%;
	min-width: 170px;
}
.project.center .grid > div img {
	display: block;
	line-height: 0;
	padding: 0.25em;
}
.project.center .text {
	flex: 0 1 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 1em;
}
.project.center .text h3 {
	text-align: center;
	margin-top: 0;
}
@media (min-width: 780px) {
	.project.center .text h3 {
		text-align: left;
	}
}
.project figcaption {
	position: relative;
}
.project figcaption caption {
	display: block;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}
.project .l-screen-image {
	display: none;
}
@media only screen and (min-width: 780px) {
	.project .l-screen-image {
		display: block;
		flex: 0 1 500px;
		margin: 1em;
	}
}
.project .sm-screen-image {
	flex: 0 1 auto;
	margin: 1.5em;
}
@media only screen and (min-width: 780px) {
	.project .sm-screen-image {
		display: none;
	}
}
.project .keyword-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 2em 0;
}
@media (min-width: 780px) {
	.project .keyword-list {
		justify-content: flex-start;
	}
}
.project .keyword-list .keyword {
	padding: 0.25em 1em;
	margin: 0.25em;
	font-weight: bold;
	font-size: small;
	border-radius: 1.5em;
	background-color: #4f5a65;
	color: #fff;
}
.footer {
	width: 1000px;
	padding: 1em;
	margin: 0 auto;
	text-align: center;
}
.footer #contact {
	margin: 4em 0;
}
.footer footer p {
	font-size: small;
	margin: 2em 0 0 0;
}

.footer #contact a {
	display: inline-block;
	padding: 0;
	text-transform: none;
}
